.NavBar{
    background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    font-size: 1rem;
}

.h1{
    font-size: 2rem;
}

.p{
    font-size: 2rem;
}

.Login{
    background:#FFFFFF;

}

.bg{
    background-size: cover;
    height: 1000px; 
}

.tengah{
    color: black;
margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

.child {
    line-height: 200px;
}

.Image{
    background-image: url('restaurant.png');
       background-repeat: no-repeat;
       background-size: cover;
 
}

.login-container {
    min-height: 100vh;
}


.jumbotron {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-size: 1rem;
  
}

.img {
    width: 70%;
   }

.card {
    width: 100%;
   }

.about hr{
    width: 200px;
    border-top: 2px solid #beb6b6;
}

.guys{
    transform: scaleY(1.5);
  }

.container {
    padding-top: 50px;
 min-height: 200px;
}

