.NavBar{
    background:#37988e;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
    font-size: 1rem;
}

.h1{
    font-size: 2rem;
}

.p{
    font-size: 2rem;
}

.Login{
    background:#FFFFFF;

}

.card:hover{
    transform: translateY(-1rem);
}



.bg{
    background-size: cover;
    height: 1000px; 
}

.tengah{
    color: black;
margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}

.child {
    line-height: 200px;
}

.Image{
    background-image: url('restaurant.png');
       background-repeat: no-repeat;
       background-size: cover;
 
}

.login-container {
    min-height: 100vh;
}


/* .jumbotron {
    position: relative;
    /* background: url(gardin-bistro.jpg); */
    /* opacity: 0.9;
    min-height: 500px;
    width: 100%;
    height: 100%;
    background-size: cover;
   
  
} */ */



.card {
    width: 100%;
   }

.about hr{
    width: 300px;
    border-top: 3px solid #beb6b6;
}

.guys{
    transform: scaleY(1.5);
  }

.container {
    padding-top: 50px;
 min-height: 200px;
}

/* .img-response{
    height: 100px !important;
} */



